[submodule "Glm"]
	path = External/Glm
	url = https://github.com/g-truc/glm.git
[submodule "Glfw"]
	path = External/Glfw
	url = https://github.com/glfw/glfw.git
[submodule "Gsl"]
	path = External/Gsl
	url = https://github.com/microsoft/GSL.git
[submodule "Fx-Gltf"]
	path = External/Fx-Gltf
	url = https://github.com/jessey-git/fx-gltf.git
[submodule "Nlohmann"]
	path = External/Nlohmann
	url = https://github.com/nlohmann/json.git
