[submodule "Glm"]
	path = External/Glm
	url = https://github.com/g-truc/glm.git
[submodule "TinyGltf"]
	path = External/TinyGltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "Glfw"]
	path = External/Glfw
	url = https://github.com/glfw/glfw.git
[submodule "Sdl"]
	path = External/Sdl
	url = https://github.com/SDL-mirror/SDL.git
[submodule "Gsl"]
	path = External/Gsl
	url = https://github.com/microsoft/GSL.git
[submodule "Fx-Gltf"]
	path = External/Fx-Gltf
	url = https://github.com/jessey-git/fx-gltf.git
